body{
    font-family:Arial;
    font-size:12px;
}
td,tr,th{
    padding:5px 10px 5px 10px;
    border:solid 1px black;
}
table{

    border-collapse:collapse;
}
thead{
    color:white;
    background-color:blue;
}
tfoot{
    background-color:gold;
}
.space{
    width:40px;
    text-align:center;
}
.name{
    padding-right:20px;
}
.red{
    color:red;
}
#right{
    text-align:right;
}
h2{
    width:750px;
    text-align:center;
    color:crimson;
}